form{
    display: flex;
    flex-direction: column;
    padding: 5px;
    max-width: 50%;
}

form input{
    margin-bottom: 10px;
}

button{
    margin-top: 10px;
}

.respuesta{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.lista{
    border: 1px solid black;
    padding: 10px;
}