<html>
<head>
    <meta charset="UTF-8">
    <title>Pokemon Battle</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div id="app">

    <div id="cartasPlayer">
        <div id="totalPlayer">0</div>
    </div>
    <div id="cartasMachine">
        <div id="totalMachine">0</div>
    </div>
    <div id="main">
        <div id="machine">
            <div>
                <div class="carta-dorso" v-for="(id, index) in cartasEnemigo" :key="id">
                    <img class="dorso" src="img/dorso.png" alt="Machine">
                </div>
            </div>
        </div>
        <div id="play">
            <div id="jugadaMachine">
                <div class="carta-dorso">
                    <img class="dorso" id="jugadaMaquinaImg" src="img/dorso.png" alt="Machine">
                </div>
            </div>
            <div id="vsImage">
                <img src="img/vs.jpeg" alt="vs">
            </div>
            <div id="jugadaPlayer">
                <div class="carta-dorso">
                    <img class="dorso" id="jugadaPlayerImg" src="img/dorso.png" alt="Machine">
                </div>
            </div>
        </div>
        <div id="player">
            <div v-for="(id, index) in cartasSeleccionadas" :key="index" :data-id="id" class="carta" @click="sacarCarta(id)">
                <div>
                    <img :src="getPokemonImage(id)" alt="Pokemon">
                </div>
                <div>{{ getPokemonName(id) }}</div>
            </div>
        </div>
    </div>
    <div id="cartel" class="ocultar">
        x
    </div>
    <div id="reportero" class="ocultar">
        <img src="img/progress.gif">
        Cargando...
    </div>

    <div class="pokedex">
        <div class="modal" v-show="mostrarModal">
            <div class="modal-content scroll">
                <div v-for="(id, index) in pokemonIds" :key="index" :data-id="id" class="carta" @click="seleccionarCarta(id,$event)">
                    <div>
                    <img :src="getPokemonImage(id)" alt="Pokemon">
                    </div>
                    <div>{{ getPokemonName(id) }}</div>
                </div>
            </div>
            <button id="jugar" v-show="cartasSeleccionadas.length == 5 && mostrarModal" @click="ocultarModal()">Jugar</button>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>

</body>
</html>